.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.table-container {
    padding: 22px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

thead {
    background-color: #222222;
    color: #ffffff;
}

td {
    height: 50px;
}

td img {
    height: 50px;
}

.preloader, .error-msg-container {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: aliceblue;
}

.preloader img {
    margin: auto;
    height: 50px;
    width: 50px;
}

.error-msg {
    margin: auto;
    height: 200px;
    width: 500px;
    padding: 22px;
    text-align: center;
    border: 2px solid grey;
    background-color: #f7f7f7;
}


button {
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 25px 12px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
